<!doctype html>
<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title th:text="#{msg.site.title}">TrustON</title>
		<th:block th:include="layout/include-css.html :: css"></th:block>
		<!-- ###################### 각각 페이지 css ###################### -->
		<th:block layout:fragment="contents-css">
		</th:block>
		<!-- //###################### 각각 페이지 css ###################### -->
	</head>


	<!-- 상단 메뉴 -->
	<th:block th:include="common/common-head.html :: common-head"></th:block>


	<!-- 레프트 메뉴 -->
	<th:block th:include="common/common-left.html :: common-left"></th:block>



	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Dashboard</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Dashboard v1</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
			<!-- ###################### 각각 페이지 컨텐츠 ###################### -->
			<th:block layout:fragment="contents-body"></th:block>
			<!--// ###################### 각각 페이지 컨텐츠 ###################### -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
		<strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
		All rights reserved.
		<div class="float-right d-none d-sm-inline-block">
			<b>Version</b> 3.0.1
		</div>
	</footer>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->


	<!-- ###################### 각각 페이지 script ###################### -->
	<th:block layout:fragment="contents-script">
	</th:block>
	<!-- //###################### 각각 페이지 script ###################### -->
	</body>
	<th:block th:include="layout/include-js.html :: js"></th:block>
</html>
