<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main-layout">

<head>
    <th:block layout:fragment="contents-css">
        <!-- something new css -->
    </th:block>
</head>

<body>


    <div class="contents">
        <th:block layout:fragment="contents-body" >
            <section class="content">
                <!--여기다가 메인 화면 코딩-->
                안녕하세요 한글이 입니다.
            </section>
        </th:block>
    </div><!-- contents //-->


<th:block layout:fragment="contents-script" >

    <script th:inline="javascript">

        $(document).ready(function(){

        });

        function noservice() {
            alertPopup('신규신청 서비스를 잠시 중지합니다.');
        };

    </script>
</th:block>

</body>
</html>
